---
interface Props {
  name: string;
  bio: string;
  position?: string;
  image: string;
  instagram?: string;
  github?: string;
  youtube?: string;
  facebook?: string;
  portfolio?: string;
}

import { Icon } from "astro-icon/components";
const {
  name,
  bio,
  position = "Contributor",
  image,
  instagram,
  github,
  youtube,
  facebook,
  portfolio,
} = Astro.props;
---

<div
  class={`
    px-2 py-5 md:px-5 md:py-5 rounded-xl  flex flex-col gap-8 items-center justify-between w-[95%] md:min-w-[380px] md:w-[380px] shadow-lg cursor-pointer border-2  h-[340px] md:h-[380px] 
    ${position === "Contributor" ? "bg-[#F0F0F0] border-gray-300" : "bg-softPink border-lightRed"}
    `}
>
  <span class="w-full flex items-center gap-5">
    <img
      src={image}
      alt="alt"
      class="rounded-full size-16 md:size-24 object-cover object-center bg-white"
    />
    <span class="flex flex-col">
      <h5 class="text-md md:text-2xl font-bold">{name}</h5>
      <h6 class="text-darkGray">{position}</h6>
    </span>
  </span>
  <p class="">
    {bio}
  </p>
  <span class="w-full text-left space-x-2 z-auto flex items-center">
    {
      facebook && (
        <a href={facebook}>
          <Icon name="facebook" class="size-9 inline" />
        </a>
      )
    }
    {
      instagram && (
        <a href={instagram}>
          <Icon name="insta" class="size-9 inline rounded-full" />
        </a>
      )
    }
    {
      github && (
        <a href={github}>
          <Icon name="github" class="size-9 inline" />
        </a>
      )
    }
    {
      youtube && (
        <a href={youtube}>
          <Icon name="youtube" class="size-9 inline " />
        </a>
      )
    }
    {
      portfolio && (
        <a href={portfolio}>
          <Icon name="site" class="size-9 inline " />
        </a>
      )
    }
  </span>
</div>
