---
import { Team } from "../../constants";
import Card from "./Card.astro";
---

<section class="w-full mt-5 overflow-auto">
  <h3 class="text-5xl font-bold">Meet the Team</h3>
  <p class="text-md md:text-xl xl:text-2xl my-5">
    Meet the talented individuals behind Rejoice Estate Consultants. Our
    dedicated team combines extensive industry knowledge with a passion for
    excellence, working together to deliver outstanding real estate solutions.
    Each member brings unique expertise and a commitment to helping you achieve
    your property goals.
  </p>
  <section
    class="flex md:flex-wrap flex-row items-center gap-5 overflow-x-scroll md:justify-center px-0 md:px-10 mt-5 py-5"
  >
    {
      Team.map((member) => (
        <Card
          image={member.image}
          name={member.name}
          bio={member.bio}
          position={member.position}
          youtube={member.youtube}
          instagram={member.instagram}
          github={member.github}
          facebook={member.facebook}
          portfolio={member.portfolio}
        />
      ))
    }
  </section>
</section>
