---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: string;
  github: string;
  website?: string;
}

const { title, description, image, github, website } = Astro.props;
---

<div
  class="flex flex-col gap-5 w-full md:w-[50%] lg:w-[40%] my-5 bg-gray-100 p-5 rounded-2xl shadow-xl"
>
  <Image
    src={image}
    alt={title}
    width={600}
    height={600}
    class="w-full object-cover aspect-video rounded-xl border-2"
  />
  <section class="flex flex-col">
    <h4 class="font-bold text-2xl">{title}</h4>
    <h5 class="lg:tracking-wide text-sm md:text-base md:leading-5 text-balance">
      {description}
    </h5>
    <span class="mt-2">
      <a href={github}>
        <Icon name="github" class="size-9 inline" />
      </a>
      {
        website && (
          <a href={website}>
            <Icon name="site" class="size-9 inline rounded-full" />
          </a>
        )
      }
    </span>
  </section>
</div>
